In [1]:
install.packages("lmtest")
library("lmtest")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘zoo’


Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [13]:
df = read.table('/content/7.txt', header = TRUE, dec='.', sep='\t')
n = 75
m = 2
df[1:5,]

  y        x1       x2
1 103.3403 47.13890 24.33460
2 106.6727 49.86411 27.66685
3 105.5971 50.01782 27.21239
4 105.3403 49.46209 27.29779
5 105.1617 49.38892 29.14477

In [21]:
model = lm(y ~ x1 + x2, data = df)

In [22]:
summary(model)

Call:
lm(formula = y ~ x1 + x2, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-1.57190 -0.31559 -0.01763  0.30307  1.76049

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  68.5789     3.7595  18.242  < 2e-16 ***
x1            0.6669     0.1097   6.079 5.23e-08 ***
x2            0.1367     0.1090   1.254    0.214
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.6066 on 72 degrees of freedom
Multiple R-squared:  0.6015,	Adjusted R-squared:  0.5905
F-statistic: 54.35 on 2 and 72 DF,  p-value: 4.11e-15

In [34]:
sum$coefficients[,'t value']

(Intercept)          x1          x2
  18.241645    6.079368    1.253528

In [24]:
t_table_1 = qt(0.975, n - m - 1)
print(c('t-table для проверки значимости параметров', t_table_1))

[1] "t-table для проверки значимости параметров"
[2] "1.99346356666187"

Из summary(model) мы получили t значения для проверки значимости параметров, сравнив его с t-табличным можно сказать, что t(α) > t(табл) и t(β1) > t(табл), следовательно гипотеза H0 отвергается и параметры α и β1 - значимы.

В отличие от них t(β2) < t(табл), следовательно для параметра β2 мы принимаем гипотезу H0 и он является незначимым

In [25]:
#Задание 2
cor_y_x1 = cor(df[,1], df[,2])
cor_y_x2 = cor(df[,1], df[,3])
cor_x1_x2 = cor(df[,2], df[,3])



print(c("Корреляция y и x1", cor_y_x1))
print(c("Корреляция y и x2", cor_y_x2))
print(c("Корреляция x1 и x2", cor_x1_x2))

t_test1 = (cor_y_x1 ** 2 / (1 - cor_y_x1 ** 2) * (n - 2)) ** 0.5
t_test2 = (cor_y_x2 ** 2 / (1 - cor_y_x2 ** 2) * (n - 2)) ** 0.5
t_test12 = (cor_x1_x2 ** 2 / (1 - cor_x1_x2 ** 2) * (n - 2)) ** 0.5
t_table_2 = qt(0.975, n - 2)

print(c("t-test для корреляции y и x1", t_test1))
print(c("t-test для корреляции y и x2", t_test2))
print(c("t-test для корреляции x1 и x2",t_test12))
print(c("t-test табличное значение", t_table_2))

[1] "Корреляция y и x1" "0.769964429574434"
[1] "Корреляция y и x2" "0.630084249358002"
[1] "Корреляция x1 и x2" "0.736389433539041"
[1] "t-test для корреляции y и x1" "10.3098494847193"
[1] "t-test для корреляции y и x2" "6.93271929705981"
[1] "t-test для корреляции x1 и x2" "9.29959432684225"
[1] "t-test табличное значение" "1.99299712588985"

Все значения t-test > t-table, слдеовательно мы отвергаем гипотезу H0 для всех значений корреляции, что означает

cor_y_x1 != 0
cor_y_x2 != 0
cor_x1_x2 != 0

In [31]:
sum = summary(model)

c(round(sum$r.squared, 3), round(sum$adj.r.squared, 3))

[1] 0.602 0.590

Значение R^2 говорит о среднем значении качества моделт

In [37]:
y_model <- predict(model)
apr_err <- sum(abs((df[,1] - y_model) / df[,1])) / n * 100

print(c('Ошибка апроксимации', round(apr_err, 3)))

[1] "Ошибка апроксимации" "0.43"

In [40]:
round(sum$fstatistic, 3)

 value  numdf  dendf
54.348  2.000 72.000

In [41]:
F_table <- qf(0.95, m, n - m - 1)
round(F_table, 3)

[1] 3.124

F-test > F-table, следовательно мы отвеграем гипотезу H0 и модель регрессии значима

In [51]:
sum$coefficients[2, 1]

[1] 0.6669399

In [59]:
elastic = sum$coefficients[2, 1] * mean(df$x1)  / mean(df$y)
c('Эластичность x1', round(elastic, 3))

delta = cor_y_x1 * sum$coefficients[2, 1] / sum$r.squared
c('d-коэффициент x1', round(delta, 3))

[1] "Эластичность x1" "0.31"

[1] "d-коэффициент x1" "0.854"

In [60]:
elastic = sum$coefficients[3, 1] * mean(df$x2)  / mean(df$y)
c('Эластичность x2', round(elastic, 3))

delta = cor_y_x2 * sum$coefficients[3, 1] / sum$r.squared
c('d-коэффициент x1', round(delta, 3))

[1] "Эластичность x2" "0.035"

[1] "d-коэффициент x1" "0.143"

Выбираем x1 в модель парной регрессии, так как её корреляция с y больше, чем у x2

In [66]:
pair_model <- lm(y ~ x1, data = df)

In [67]:
pair_sum <- summary(pair_model)
pair_sum

Call:
lm(formula = y ~ x1, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-1.56568 -0.28594 -0.01775  0.34804  1.74473

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 67.31142    3.63508   18.52  < 2e-16 ***
x1           0.76821    0.07451   10.31 6.83e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.609 on 73 degrees of freedom
Multiple R-squared:  0.5928,	Adjusted R-squared:  0.5873
F-statistic: 106.3 on 1 and 73 DF,  p-value: 6.834e-16

In [70]:
Rur = sum$r.squared #множественной
Rr = pair_sum$r.squared #парной
q = 1 #количество удаляемых факторов

f = ((Rur - Rr) * (n - m)) / ((1 - Rur) * q)
round(f, 3)

ftabl = qf(0.95, 1, n - m)
round(ftabl, 3)

if (f > ftabl){
  print('H0 отвергается, длинная круче')
}else{
  print('H0 принимается, короткая круче')
}

[1] 1.593

[1] 3.972

[1] "H0 принимается, короткая круче"

In [71]:
resettest(model, power = 2:3, data = df)

	RESET test

data:  model
RESET = 0.16936, df1 = 2, df2 = 70, p-value = 0.8446

p-value для reset-теста > 0.05, значит гипотеза H0 принимается и пропущенные переменные есть

In [75]:
t_test_pair <- qt(0.975, n - 2)

In [74]:
new_x1 <- (pair_sum$coefficients[2, 1]  + pair_sum$coefficients[2, 2]) * 1.5
new_x1

[1] 1.264079

In [83]:
print("Доверительный интервал b1 для парной модели регрессии: ")
c('(', round(new_x1 - pair_sum$coefficients[2, 2] * t_test_pair, 3), '<', round(new_x1, 3), '<', round(new_x1 + pair_sum$coefficients[2, 2] * t_test_pair, 3), ')')

[1] "Доверительный интервал b1 для парной модели регрессии: "

[1] "("     "1.116" "<"     "1.264" "<"     "1.413" ")"