# Pandas (2)

In [140]:
import numpy as np
import pandas as pd

In [141]:
pip install pandas -I

^C
Note: you may need to restart the kernel to use updated packages.

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [142]:
headers = ["date", "ticker", "open", "high", "low", "close", "volume"]
df = pd.read_table("sp500hst.txt", sep = ',', names = headers)
df

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Посчитайте количество уникальных цифр, которые используются каждой строке в столбце volume.

In [143]:
def count_digits(volume):
    return len(set(str(volume)))

df['volume'].map(count_digits)

0         5
1         3
2         5
3         2
4         4
         ..
122569    4
122570    5
122571    5
122572    5
122573    4
Name: volume, Length: 122574, dtype: int64

3. Для каждой строки рассчитайте разность между значениями high и low, если индекс столбца нечетный, и разность между close и high в противном случае.

In [144]:
def diff(row):
    if row.name % 2 == 1:
        return row['high'] - row['low']
    else:
        return row['close'] - row['high']
    
df.apply(diff, axis = 1)

0        -0.0600
1         0.4100
2        -0.3600
3         0.4975
4        -0.0300
           ...
122569    0.5200
122570   -0.4700
122571    0.7100
122572   -1.4100
122573    1.0700
Length: 122574, dtype: float64

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [145]:
pd.__version__

'1.0.5'

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2.2

__Данная работа является продолжением ЛР №2. Для начала работы загрузите таблицы (см. задание 1.1)__

In [146]:
recipes = recipes = pd.read_csv("recipes_sample.csv", sep = ',')
recipes["submitted"] = pd.to_datetime(recipes["submitted"], format = '%Y-%m-%d')

reviews = reviews = pd.read_csv("reviews_sample.csv", sep = ',', index_col = 0)
reviews.columns = ['user_id', 'recipe_id', 'date', 'rating', 'review']

In [147]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [148]:
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

### Применение функций к pd.Series и pd.DataFrame

4.1 Напишите функцию, которая переводит минуты в формат "XhYm". Примените эту функцию к столбцу `minutes` таблицы `recipes` (без перезаписи исходного столбца) при помощи метода `map`.

In [149]:
recipes['minutes'].map(lambda x: f'{x // 60}h{x%60}m')

0        1h30m
1        0h10m
2        0h30m
3        0h45m
4        0h25m
         ...
29995    1h20m
29996     4h0m
29997    1h15m
29998     1h0m
29999    0h29m
Name: minutes, Length: 30000, dtype: object

In [150]:
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

4.2 На основе таблицы `recipes` создайте таблицу, которая содержит только текстовые столбцы (используйте метод `select_dtypes`).  Примените к каждому элементу этой таблицы строковый метод `str.capitalize` при помощи метода `applymap`, не удаляя пропуски.

In [151]:
recipes_2 = recipes.select_dtypes(include = object)

recipes_2 = recipes_2.applymap(lambda x: str(x).capitalize())

recipes_2.head()

,name,description
0,George s at the cove black bean soup,An original recipe created by chef scott meska...
1,Healthy for them yogurt popsicles,My children and their friends ask for my homem...
2,I can t believe it s spinach,"These were so go, it surprised even me."
3,Italian gut busters,My sister-in-law made these for us at a family...
4,Love is in the air beef fondue sauces,I think a fondue is a very romantic casual din...

4.3 Напишите функцию, которая принимает на вход серию `pd.Series` и для серий, содержащих текстовые данные, возвращает максимальную длину строк в ней, а для числовых серий возвращает минимальный элемент в этой серии. Примените данную функцию к каждому столбцу таблицы `recipes` при помощи метода `apply`.

In [152]:
def get_stats(x: pd.Series) -> int:
    if x.dtype == 'int64':
        return x.min()
    elif x.dtype == 'float64':
        return x.min()
    elif x.dtype == 'object':
        return x.str.len().max()

In [153]:
ex = pd.Series([1, 3, 2])
get_stats(recipes['id'])

48

In [154]:
recipes['id'].dtype

dtype('int64')

In [155]:
recipes[recipes.isna()].count()

name              0
id                0
minutes           0
contributor_id    0
submitted         0
n_steps           0
description       0
n_ingredients     0
dtype: int64

In [156]:
recipes.apply(get_stats, axis = 0, result_type = 'expand', raw = False)

name                83.0
id                  48.0
minutes              0.0
contributor_id    1530.0
submitted            NaN
n_steps              1.0
description       6321.0
n_ingredients        1.0
dtype: float64

### Группировки таблиц `pd.DataFrame`

5.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [157]:
max_rec = recipes.groupby(['contributor_id'])['name'].count()
print(max_rec)
print('')
print('Максимальное количество рецептов:', max_rec[max_rec == max_rec.max()])

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

Максимальное количество рецептов: contributor_id
89831    421
Name: name, dtype: int64

5.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [158]:
mean_recipes = reviews.groupby(['recipe_id'])['rating'].mean()
print(mean_recipes)
print('Отсутствующие значения:', mean_recipes[mean_recipes == 0].count())

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
Отсутствующие значения: 660

5.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [159]:
recipes['year'] = recipes['submitted'].dt.year
print('Kоличество рецептов с разбивкой по годам создания:')
print(recipes.groupby(['year'])['name'].count())

Kоличество рецептов с разбивкой по годам создания:
year
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

5.4 Напишите функцию, которая принимает на вход таблицу (аналогичную `recipes` по набору столбцов), и возвращает `True` в том случае, если в столбце `minutes` присутствуют только значения, меньшие либо равные 10. Сгруппируйте таблицу `recipes` по полю `contributor_id` и для каждого участника выясните, справедливо ли, что все его рецепты занимают не более 10 минут.

In [160]:
def has_only_fast_recipes(x: pd.DataFrame) -> bool:
    if all(x['minutes'] <= 10):
        return True
    else:
        return False

In [161]:
recipes.groupby(recipes['contributor_id']).filter(has_only_fast_recipes)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,year
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,2003
44,emerald ecstasy green smoothie,342619,6,1010057,2008-12-09,9.0,this is the delicious green smoothie recipe th...,6.0,2008
46,fraicheur vinaigrette,367987,5,797706,2009-04-26,NaN,this is a lovely salad dressing from a local g...,7.0,2009
93,1 minute cake,290187,2,584365,2008-03-05,20.0,it's not a fancy cake but when you eat it warm...,NaN,2008
109,10 minute chocolate self saucing pudding,402246,10,1464792,2009-12-02,9.0,"got this recipe from the ""essentially food mag...",11.0,2009
...,...,...,...,...,...,...,...,...,...
29723,yum yum avocado salsa,296231,10,808017,2008-04-03,5.0,this is yummy! and healthy!,4.0,2008
29724,yum yum balls,63973,5,88072,2003-06-06,3.0,these chocolate balls are delicious! my family...,NaN,2003
29754,yummy honey and pear sandwiches,171091,2,318506,2006-06-02,3.0,i went looking for sandwich fillings for my on...,4.0,2006
29789,yummy sour cream fruit dip,200350,5,57562,2006-12-12,3.0,mock jason's deli fruit dip. i've made it and ...,3.0,2006
29792,yummy sweet tea,400519,7,281166,2009-11-20,NaN,i bet you can't have just one sip of this deli...,3.0,2009

### Объединение таблиц `pd.DataFrame`

6.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [162]:
rating_info = pd.merge(recipes[["id", "name"]], reviews[["user_id", "rating", "recipe_id"]], how = 'inner', left_on = "id", right_on = 'recipe_id')
rating_info = rating_info.drop(labels = "recipe_id", axis = 1)
rating_info

            id                                    name  user_id  rating
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

In [163]:
reviews[reviews['review'].isna()].index

Int64Index([  56957,  273481,   56955,  783599, 1089381,  266359, 1078013,
             841853, 1020267,   56966, 1096338,  633479,  270484,  303674,
             510473,  774321,   26786],
           dtype='int64')

In [164]:
reviews.loc[[56957]]

          user_id  recipe_id        date  rating review
56957  2001567544       9054  2017-06-03       5    NaN

In [165]:
rating_info.loc[[56957]]

          id                         name  user_id  rating
56957  41231  ham and provolone pinwheels    35193       5

6.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [166]:
reviews_count = recipes.merge(reviews, how = 'left', left_on = "id", right_on = "recipe_id").sort_values(by = "user_id")
'Рецепты у которых нет отзывов:', reviews_count[reviews_count['review'].isna() & reviews_count['rating'].isna()]["id"]

('Рецепты у которых нет отзывов:',
 191       223349
 195       342620
 216       276594
 282       216068
 300       306590
            ...
 128149     66966
 128256    249846
 128273    256177
 128436    178243
 128535    363362
 Name: id, Length: 1900, dtype: int64)

In [175]:
reviews_count_info = recipes.merge(reviews['review'].groupby(reviews['recipe_id']).count(), how = 'left', left_on = "id", right_on = "recipe_id")[['id', 'name', 'review']]
reviews_count_info = reviews_count_info.rename(columns = {'id': 'recipe_id', 'review': 'review_count'})
reviews_count_info = reviews_count_info.fillna(0)
reviews_count_info

       recipe_id                                          name  review_count
0          44123         george s at the cove  black bean soup           3.0
1          67664            healthy for them  yogurt popsicles           8.0
2          38798                  i can t believe it s spinach           3.0
3          35173                          italian  gut busters           1.0
4          84797      love is in the air  beef fondue   sauces           8.0
...          ...                                           ...           ...
29995     267661  zurie s holey rustic olive and cheddar bread           4.0
29996     386977          zwetschgenkuchen  bavarian plum cake           2.0
29997     103312   zwiebelkuchen   southwest german onion cake           6.0
29998     486161                                   zydeco soup           6.0
29999     298512        cookies by design   cookies on a stick           1.0

[30000 rows x 3 columns]

In [168]:
reviews_count_info[reviews_count_info["recipe_id"] == 223349]  #берём значение из reviews_count

    recipe_id                           name  review_count
26     223349  pasta  with shrimp   eggplant           0.0

6.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [169]:
reviews['rating'].groupby(pd.DatetimeIndex(reviews['date']).year).mean().sort_values()

date
2017    3.353042
2000    3.384615
2018    3.504076
2016    3.912603
2015    4.047145
2014    4.110595
2001    4.134426
2013    4.274168
2011    4.302045
2012    4.341427
2010    4.454440
2002    4.481556
2008    4.484635
2009    4.524728
2003    4.526940
2004    4.546548
2007    4.547077
2005    4.563680
2006    4.603673
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

7.1 Отсортируйте результат выполнения задания 6.1 в порядке убывания величины столбца `id` и сохраните результаты в csv файл.

In [170]:
rating_info = rating_info.sort_values(by = ['id'], ascending = False)
rating_info.to_csv('./7_1_sorted_df.csv')
rating_info

           id                                        name     user_id  rating
71115  536747                          lemon pom pom cake  2001996022       0
71114  536747                          lemon pom pom cake  2001285346       0
71113  536747                          lemon pom pom cake     1460111       0
71112  536747                          lemon pom pom cake  2002007477       0
36927  536729                creole watermelon feta salad      482376       5
...       ...                                         ...         ...     ...
14331      55  betty crocker s southwestern guacamole dip     1060485       5
14328      55  betty crocker s southwestern guacamole dip      165567       5
14329      55  betty crocker s southwestern guacamole dip      851190       5
16365      48                            boston cream pie       32421       0
16366      48                            boston cream pie       68674       2

[126696 rows x 4 columns]

7.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 6.1 и 6.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 6.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 6.2.

In [171]:
with pd.ExcelWriter(r"./7.2.xlsx") as writer:
    rating_info.to_excel(writer, sheet_name = "Рецепты с оценками")
    reviews_count_info.to_excel(writer, sheet_name = "Количество отзывов по рецептам")